* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
  background: #f5f5f5;
  text-align: center;
  padding: 8px;
  font-size: 19px;
  color: #5c5757a2;
}

/* Navbar */
.navbar {
  /* border-bottom: 1px solid #ddd; */
  background-color: #363333ec;
  color: whitesmoke;
}
.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.nav-left a,
.nav-right a {
  margin-right: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.logo {
  margin-right: 18%;
  font-size: 24px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  background: #eee6df;
  text-align: center;
  font-family: sans-serif;
}
.hero-content {
  /* box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.13); */
  padding: 20px 20px;
  margin-top: 30%;
  /* font-weight: 100px; */
}
.hero-content p {
  font-size: 70px;
  color: #353434;
  font-family: "Gill Sans";
}

.hero-content p {
  font-size: 50px;
  margin: 15px 0;
}

.hero-content button {
  padding: 12px 50px;
  border: none;
  background: #555;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.hero {
  background-image: url("https://static.wixstatic.com/media/84770f_c3a3a4bbad7144d89b51485ea65b532d~mv2.jpeg/v1/fill/w_1336,h_780,al_t,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_c3a3a4bbad7144d89b51485ea65b532d~mv2.jpeg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.sec {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  line-height: 20px;
  color: #555;
}
.sec p {
  font-size: medium;
  letter-spacing: 3px;
}
.sec span {
  font-size: small;
}
.section {
  background-color: rgba(243, 228, 231, 0.658);
}
.cards {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 90px;
  padding-top: 20px;
}
.cards img {
  height: 400px;
  width: 350px;
}
.cards p {
  color: #555;
  font-size: small;
}
.butn-1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
}
.butn-1 button {
  outline: none;
  border: none;
  padding: 5px 30px;
  color: whitesmoke;
  background-color: #222020ec;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.h {
  width: 90%;
  margin: auto;
}
.footer-1 {
  background-color: #222020ec;
  color: whitesmoke;
  /* margin-top: 30px; */
  padding-top: 20px;
}
.store {
  margin-top: 50px;
}
.store h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.store a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  font-size: 12px;
  line-height: 15px;
}
.store-1 {
  margin-top: 50px;
}
.store-1 h2 {
  font-size: 15px;
  margin-bottom: 10px;
}
.store-1 p {
  font-size: 12px;
  line-height: 15px;
}
/* .store a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  font-size: 12px;
  line-height: 15px;
} */
.store-2 {
  margin-top: 50px;
}
.store-2 h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.store-2 a {
  display: flex;
  flex-direction: column;
  /* text-decoration: none; */
  color: whitesmoke;
  font-size: 12px;
  line-height: 17px;
}
.store-3 {
  margin-top: 30px;
}
.store-3 h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.store-3 i {
  font-size: 12px;
  line-height: 15px;
  padding-right: 15px;
}
.store-4 {
  margin-top: 50px;
}
.store-4 h2 {
  font-size: 15px;
  margin-bottom: 10px;
}
.store-4 p {
  font-size: 14px;
}
.store-4 button {
  margin-top: 20px;
  padding: 5px 20px;
  border: none;
  outline: none;
}
.store-4 hr {
  margin-top: 40px;
}
.input {
  margin-top: 20px;
}
.care {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.care span {
  font-size: 40px;
  color: #504d4d;
}
.care p {
  width: 40%;
  margin-top: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #555;
}
.care hr {
  margin-top: 40px;
  width: 75%;
}
.section1 {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 30px;
}
.sect-2 {
  margin-bottom: 30px;
  line-height: 20px;
  color: #3a3838;
}
.sect-1 {
  line-height: 20px;
  color: #3a3838;
}
.form1 {
  margin-right: 15%;
}

.form-1 {
  display: flex;
  gap: 40px;
  /* padding-top: 40px; */
}
.form-1 p {
  /* font-size: 20px; */
  font-family: sans-serif;
  color: rgba(27, 26, 26, 0.863);
}
.form-1 input {
  /* padding: 10px 60px; */
  margin-top: 10px;
  /* background-color: #44bdf124; */
  /* border: none; */
  outline: none;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}
.form-2 {
  display: flex;
  gap: 40px;
  padding-top: 40px;
}
.form-2 p {
  /* font-size: 20px; */
  font-family: sans-serif;
  color: rgba(27, 26, 26, 0.863);
}
.form-2 input {
  /* padding: 10px 60px; */
  margin-top: 10px;
  outline: none;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}
.form-3 p {
  padding-top: 30px;
  font-family: sans-serif;
  color: rgba(27, 26, 26, 0.863);
}
.form-3 input {
  margin-top: 10px;
  outline: none;
  border-top: 1px;
  border-left: 1px;
  width: 100%;
  border-right: 1px;
  padding-top: 40px;
}
.btnn-1 {
  padding: 5px 40px;
  margin-top: 20px;
  background-color: #272626;
  color: white;
  border: none;
  outline: none;
}
.sec-4 {
  width: 90%;
  margin: auto;
}
.st-1 p {
  font-size: 25px;
  margin-top: 50px;
  letter-spacing: 4px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #585353;
}
.st-1 span {
  color: #585353;
  font-size: 14px;
}
.st-1 hr {
  margin-top: 25px;
  width: 70%;
}
.cards-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 30%;
}
.cards-2 h4 {
  margin-bottom: 30px;
  color: #413e3e;
}
.cards-2 span {
  color: #504b4b;
  font-family: sans-serif;
  line-height: 20px;
}
.cards-2 p {
  margin-top: 30px;
  color: #504b4b;
  font-family: sans-serif;
  line-height: 20px;
  margin-bottom: 50px;
}
