body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    background-color: white;
    margin: 0;
    padding: 40px;
    line-height: 1.5;
}

.header {
    max-width: 1000px;
    margin: 0 auto;

}


h1 {
    font-family: 'Times New Roman', serif;

    font-weight: normal;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: rgb(26, 26, 26);
}

.subtitle {
    font-size: 16px;
    margin-bottom: 40px;
}


.container {
    border: none;
    border-top: 1px solid rgb(51, 51, 51);
    margin-bottom: 50px;
}


.stores-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.stores-items {
    flex: 1;

}


.store-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}


.details p,
.store-timing p {
    margin: 0;
    font-size: 15px;
    color: rgb(68, 68, 68);
}

.store-hours {
    margin-top: 25px;
}




footer {
    background-color: rgb(61, 57, 53);
    color: white;
    padding: 80px 60px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, meiryo, hiragino kaku gothic pro, sans-serif;
}

.footer-logo {
    font-size: 30px;
    grid-column: 1 / span 3;
    margin-bottom: 40px;


}

.footer-col h4 {
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-col ul li {
    padding-left: 10px;
    margin-bottom: 12px;
    font-size: 14px;
    color: white;
    list-style: none;
}

.footer-col input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
}

.checkbox-group {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: transparent;
}

.subscribe-btn {
    background-color: rgb(204, 204, 204);
    color: rgb(61, 57, 53);
    width: 50%;
    padding: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.contact-info {
    margin-top: 50px;
}


.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkgray;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}