        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(253, 251, 247);
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        ul {
            list-style: none;
        }


        .shopping {
            background-color: white;
            padding: 10px;
            text-align: center;
            font-size: 13px;
            letter-spacing: 1px;
            border-bottom: 1px solid white;
            position: relative;
        }

        .login {
            position: absolute;
            right: 40px;
            top: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
        }


        nav {
            background-color: rgb(61, 57, 53);

            color: white;
            padding: 20px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .link {
            display: flex;
            gap: 25px;
            font-size: 14px;
        }

        .logo {
            font-size: 24px;
            letter-spacing: 3px;
            font-weight: 400;
        }

        .icons {
            display: flex;
            gap: 20px;
            font-size: 18px;
        }


        .hero {
            height: 100vh;
            background-color: rgb(229, 217, 204);
            background-image: url('https://static.wixstatic.com/media/84770f_c3a3a4bbad7144d89b51485ea65b532d~mv2.jpeg/v1/fill/w_1336,h_780,al_t,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_c3a3a4bbad7144d89b51485ea65b532d~mv2.jpeg');
            background-size: cover;
            background-position: center;
            position: relative;
            display: flex;
            align-items: center;
        }

        .text {
            margin-left: 80px;
            max-width: 400px;
        }

        .text h1 {
            font-size: 50px;
            font-weight: 300;
            color: rgb(61, 57, 53);
            margin-bottom: 20px;
            line-height: 1.1;
        }

        .btn {
            background-color: rgb(61, 57, 53);
            color: white;
            padding: 12px 40px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }


        .sellers {
            padding: 80px 50px;
            text-align: center;
        }

        .title {
            font-size: 32px;
            font-weight: 300;
            letter-spacing: 2px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .subtitle {
            font-style: italic;
            margin-bottom: 50px;
            color: rgb(102, 102, 102);
        }

        .grid {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 40px;
        }

        .card {
            flex: 1;
            max-width: 400px;
            text-align: left;
        }

        .img-box {
            position: relative;
            margin-bottom: 15px;
        }

        .card-img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            align-items: center;
        }

        .information h3 {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .information p {
            color: rgb(102, 102, 102);
            font-size: 14px;
        }

        .shopping-btn {
            background-color: rgb(61, 57, 53);
            color: white;
            padding: 12px 40px;
            border: none;
            cursor: pointer;
            margin-top: 20px;
        }


        footer {
            background-color: rgb(61, 57, 53);
            color: white;
            padding: 80px 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1.5fr;
            gap: 40px;
            font-family: Madefor, Helvetica Neue, Helvetica, Arial, meiryo, hiragino kaku gothic pro, sans-serif;
        }

        .footer-box {
            font-size: 30px;
            grid-column: 1 / span 3;
            margin-bottom: 40px;


        }

        .footer-column-box h4 {
            margin-bottom: 25px;
            font-size: 14px;
            letter-spacing: 1px;
        }

        .footer-column-box ul li {
            margin-bottom: 12px;
            font-size: 14px;
            color: white;
        }

        .footer-column-box input {
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            padding: 10px 0;
            width: 100%;
            margin-bottom: 20px;
        }

        .checking {
            display: flex;
            gap: 10px;
            font-size: 12px;
            margin-bottom: 20px;
            background-color: transparent;
        }

        .now {
            background-color: white;
            color: rgb(61, 57, 53);
            width: 50%;
            padding: 15px;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }

        .internet {
            margin-top: 20px;
            display: flex;
            gap: 15px;
            font-size: 18px;
        }

        .contact-information {
            margin-top: 50px;
        }


        .chat-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: rgb(102, 102, 102);
            color: white;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            cursor: pointer;
        }