body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 40px;
    background-color: white;
}

.container {
    max-width: 900px;
    padding: 20px;
}


.serif-title {

    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sans-title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
}

.description {
    font-size: 15px;
    color: rgb(85, 85, 85);
    margin-bottom: 30px;
    max-width: 400px;

}

.help-text,
.contact-details {
    font-size: 16px;
    margin-top: 20px;
}


.separator {
    border: 0;
    border-top: 1px solid black;
    margin: 40px 0;
}


.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.search-container {
    border-bottom: 1px solid rgb(51, 51, 51);
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.search-container input {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 200px;
}

.search-icon {
    font-size: 18px;
    cursor: pointer;
}



footer {
    background-color: rgb(61, 57, 53);
    color: white;
    padding: 80px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 40px;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, meiryo, hiragino kaku gothic pro, sans-serif;
}

.footer-box {
    font-size: 30px;
    grid-column: 1 / span 3;
    margin-bottom: 40px;


}

.footer-column-box h4 {
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-column-box ul li {
    margin-bottom: 12px;
    font-size: 14px;
    color: white;
}

.footer-column-box input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
}

.checking {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: transparent;
}

.now {
    background-color: white;
    color: rgb(61, 57, 53);
    width: 50%;
    padding: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.internet {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.contact-information {
    margin-top: 50px;
}


.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(102, 102, 102);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}