/* header  */
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.lists {
    display: flex;
    gap: 15px;
}

li {
    list-style: none;
}

/* body  */
.container {
    background-color: rgb(25, 25, 105);
    height: 100vh;
    display: flex;

}


img {
    height: 80vh;
    position: relative;
    left: 150px;
}

.down {
    display: flex;
    margin-top: 100px;
    /* gap: 50%; */
}

.section {
    margin-top: 10%;
    margin-left: 5%;
    color: white;

}

.hero {
    font-size: 4rem;

}



.btn1 {
    background-color: white;
    color: blue;
    font-size: 30px;
    justify-content: flex-start;
}

.btn2 {
    background-color: blue;
    color: white;
    font-size: 30px;
}

/* .column {
      position: relative;
      top: -100px;
      bottom: 200px;
      left: 60px;
      font-size: 80px;
    } */

.colunm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

/* .fa-book {
    color: rgb(31, 31, 75);
} */

.primary {
    /* display: flex; */
    margin: 20px;
}

.primary {
    padding: 0 20px;
    font-size: 20px;
    color: rgb(32, 32, 92);
}


/* featured */
.secondary {
    text-align: center;
    font-weight: 500;
}

.feature {
    padding-top: 80px;
    font-size: large;
}



.images {
    position: relative;
    margin-left: -10%;
    margin-right: 20%;
    padding-left: -10%;
    padding-right: 20%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-top: 80px;



}

.image-name {
    font-size: 100%;
    font-weight: 500;
    margin-top: 90%;
    margin-bottom: 10%;

}


img {
    border-radius: 20px;
    align-items: center;
}

/* .red {
    padding-top: 150px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(25, 29, 39);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    font-size: 15px;
} */

img {
    border-radius: 20px;
    margin-top: 80px;

}

.blue {

    width: 100%;
    margin-top: 30%;
    margin-left: 20%;
    text-align: center;
}

.green {
    width: 100%;
    margin-top: 20%;
    margin-left: 10%;
    text-align: center;
}

/* .yellow {
    width: : 100px;
    margin-top: 100px;
    padding: 200px;
    background-color: rgb(23, 23, 124);
    color: white;
    text-align: center;
}

.btn {
    color: blue;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 400px;


} */

.super-section {
    background-color: rgb(8, 8, 51);
    margin-top: 10%;
    margin-left: 10%;
}

.super-section {
    width: 100%;
    max-width: 1100px;
    padding: 40px 20px;
}

.super-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.super-card {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile-img img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
    margin-left: -250px;

}

.quote {
    font-size: 100%;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 300;
    color: #e0e0e0;

}

.name {
    font-size: 100%;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Responsive Design for Mobile */


.ivt {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.imp {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    line-height: 1.6;
}

.purple {
    background-color: rgb(0, 0, 255);
    color: white;
    height: 200%;
    width: 100%;
    padding: 100px;
    display: flex;
}